@model IEnumerable<Livraria.Sistema.Models.LIVROS>

    <div id="divListaLivros">
        <table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.TITULO)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.AUTOR)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PRECO)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CATEGORIAS.NOME)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.EDITORAS.NOMEFANTASIA)
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.TITULO)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.AUTOR)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PRECO)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CATEGORIAS.NOME)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.EDITORAS.NOMEFANTASIA)
                    </td>
                    <td>
                        <button type="button" class="btn btn-outline-primary">
                            @Html.ActionLink("Detalhes", "Details", new { @id = item.IDLIVRO })
                        </button>
                        <button type="button" class="btn btn-outline-primary">
                            @Html.ActionLink("Apagar", "Delete", new { @id = item.IDLIVRO })
                        </button>
                        <button type="button" class="btn btn-outline-primary">
                            @Html.ActionLink("Editar", "Edit", new { id = item.IDLIVRO })
                        </button>
                    </td>
                </tr>
            }

        </table>
    </div>