@model Livraria.Sistema.Models.LIVROS

@{
    ViewBag.Title = "Delete";
}

<br>
<h2>Apagar livro</h2>
<br>

<h3>Tem certeza que deseja apagar este livro?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.EAN13)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EAN13)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ISBN)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ISBN)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TITULO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TITULO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AUTOR)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AUTOR)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EDICAO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EDICAO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ANOEDICAO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ANOEDICAO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FORMATO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FORMATO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NUMEROPAGINAS)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NUMEROPAGINAS)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ORIGEM)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ORIGEM)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PRECO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PRECO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CATEGORIAS.NOME)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CATEGORIAS.NOME)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DISTRIBUIDORAS.NOMEFANTASIA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DISTRIBUIDORAS.NOMEFANTASIA)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EDITORAS.NOMEFANTASIA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EDITORAS.NOMEFANTASIA)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <button type="submit" value="Delete" class="btn btn-outline-danger">Apagar</button>
            <button type="button" class="btn btn-outline-primary">
                @Html.ActionLink("Voltar para a lista", "Index")
            </button>
        </div>
    }
</div>
