@model Livraria.Sistema.Models.DISTRIBUIDORAS

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>DISTRIBUIDORAS</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CNPJ)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CNPJ)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NOMEFANTASIA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NOMEFANTASIA)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EMAIL)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EMAIL)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TELEFONE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TELEFONE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CIDADE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CIDADE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ESTADO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ESTADO)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.IDDISTRIBUIDORA }) |
    @Html.ActionLink("Back to List", "Index")
</p>
