@model IEnumerable<Livraria.Sistema.Models.DISTRIBUIDORAS>

@{
    ViewBag.Title = "Index";
}
<br>
<h2>Distribuidoras</h2>
<br>

<p>
    <button type="button" class="btn btn-outline-primary">
    @Html.ActionLink("Adicionar distribuidora", "Create")
    </button>
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CNPJ)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NOMEFANTASIA)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EMAIL)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TELEFONE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CIDADE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ESTADO)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.CNPJ)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NOMEFANTASIA)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EMAIL)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TELEFONE)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CIDADE)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ESTADO)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.IDDISTRIBUIDORA }) |
            @Html.ActionLink("Detalhes", "Details", new { id=item.IDDISTRIBUIDORA }) |
            @Html.ActionLink("Apagar", "Delete", new { id=item.IDDISTRIBUIDORA })
        </td>
    </tr>
}

</table>
