@model Livraria.Sistema.Models.MOVIMENTACAO

@{
    ViewBag.Title = "Delete";
}

<br>
<h2>Apagar movimentação</h2>
<br>

<h3>Tem certeza que deseja apagar esta movimentação?</h3>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.QUANTIDADEPRODUTO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.QUANTIDADEPRODUTO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OPERACAO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OPERACAO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DATA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DATA)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DISTRIBUIDORAS.NOMEFANTASIA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DISTRIBUIDORAS.NOMEFANTASIA)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FUNCIONARIOS.NOME)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FUNCIONARIOS.NOME)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LIVROS.TITULO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LIVROS.TITULO)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <button type="submit" value="Delete" class="btn btn-outline-danger">Apagar</button>
            <button type="button" class="btn btn-outline-primary">
                @Html.ActionLink("Voltar para a lista", "Index")
            </button>
        </div>
    }
</div>
