@model Livraria.Sistema.Models.MOVIMENTACAO

@{
    Layout = null;
    ViewBag.Title = "Details";
}

<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title">Dados da movimentação</h4>
            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
        </div>
        <div class="modal-body">
            <p>@Html.DisplayNameFor(model => model.QUANTIDADEPRODUTO): @Html.DisplayFor(model => model.QUANTIDADEPRODUTO)</p>
            <p>@Html.DisplayNameFor(model => model.OPERACAO): @Html.DisplayFor(model => model.OPERACAO)</p>
            <p>@Html.DisplayNameFor(model => model.DATA): @Html.DisplayFor(model => model.DATA)</p>
            <p>@Html.DisplayNameFor(model => model.DISTRIBUIDORAS.NOMEFANTASIA): @Html.DisplayFor(model => model.DISTRIBUIDORAS.NOMEFANTASIA)</p>
            <p>@Html.DisplayNameFor(model => model.FUNCIONARIOS.NOME): @Html.DisplayFor(model => model.FUNCIONARIOS.NOME)</p>
            <p>@Html.DisplayNameFor(model => model.LIVROS.TITULO): @Html.DisplayFor(model => model.LIVROS.TITULO)</p>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-danger" data-dismiss="modal">Fechar</button>
        </div>
    </div><!-- /.modal-content -->
</div>
