@model Livraria.Sistema.Models.MOVIMENTACAO

@{
    ViewBag.Title = "Details";
}

<br>
<h2>Dados da movimentação</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.QUANTIDADEPRODUTO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.QUANTIDADEPRODUTO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OPERACAO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OPERACAO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DATA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DATA)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DISTRIBUIDORAS.NOMEFANTASIA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DISTRIBUIDORAS.NOMEFANTASIA)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FUNCIONARIOS.NOME)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FUNCIONARIOS.NOME)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LIVROS.TITULO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LIVROS.TITULO)
        </dd>

    </dl>
</div>
<p>
    <button type="button" class="btn btn-outline-primary">
        @Html.ActionLink("Editar", "Edit", new { id = Model.IDMOVIMENTACAO })
    </button>
    <button type="button" class="btn btn-outline-primary">
        @Html.ActionLink("Voltar para a lista", "Index")
    </button>
</p>
