@model IEnumerable<Livraria.Sistema.Models.MOVIMENTACAO>

@{
    ViewBag.Title = "Index";
}

<br>
<h2>Movimentações</h2>
<br>

<p>
    <button type="button" class="btn btn-outline-primary">
        @Html.ActionLink("Nova movimentação", "Create")
    </button>
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.QUANTIDADEPRODUTO)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OPERACAO)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DATA)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DISTRIBUIDORAS.NOMEFANTASIA)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FUNCIONARIOS.NOME)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LIVROS.TITULO)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.QUANTIDADEPRODUTO)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OPERACAO)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DATA)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DISTRIBUIDORAS.NOMEFANTASIA)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FUNCIONARIOS.NOME)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LIVROS.TITULO)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.IDMOVIMENTACAO }) |
            @Html.ActionLink("Detalhes", "Details", new { id=item.IDMOVIMENTACAO }) |
            @Html.ActionLink("Apagar", "Delete", new { id=item.IDMOVIMENTACAO })
        </td>
    </tr>
}

</table>
