@model Livraria.Sistema.Models.EDITORAS

@{
    Layout = null;
    ViewBag.Title = "Details";
}


<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title">Dados da editora</h4>
            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
        </div>
        <div class="modal-body">
            <p>@Html.DisplayNameFor(model => model.CNPJ): @Html.DisplayFor(model => model.CNPJ)</p>
            <p>@Html.DisplayNameFor(model => model.NOMEFANTASIA): @Html.DisplayFor(model => model.NOMEFANTASIA)</p>
            <p>@Html.DisplayNameFor(model => model.EMAIL): @Html.DisplayFor(model => model.EMAIL)</p>
            <p>@Html.DisplayNameFor(model => model.TELEFONE): @Html.DisplayFor(model => model.TELEFONE)</p>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-danger" data-dismiss="modal">Fechar</button>
        </div>
    </div><!-- /.modal-content -->
</div>