@model Livraria.Sistema.Models.EDITORAS

@{
    ViewBag.Title = "Details";
}

<br>
<h2>Dados da editora</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CNPJ)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CNPJ)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NOMEFANTASIA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NOMEFANTASIA)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EMAIL)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EMAIL)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TELEFONE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TELEFONE)
        </dd>

    </dl>
</div>
<p>
    <button type="button" class="btn btn-outline-primary">
        @Html.ActionLink("Editar", "Edit", new { id = Model.IDEDITORA })
    </button> 
    <button type="button" class="btn btn-outline-primary">
        @Html.ActionLink("Voltar para a lista", "Index")
    </button>
</p>
