@model IEnumerable<Livraria.Sistema.Models.EDITORAS>

@{
    ViewBag.Title = "Index";
}

<h2>Editoras</h2>

<p>
    @Html.ActionLink("Adicionar editora", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CNPJ)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NOMEFANTASIA)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EMAIL)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TELEFONE)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.CNPJ)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NOMEFANTASIA)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EMAIL)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TELEFONE)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.IDEDITORA }) |
            @Html.ActionLink("Detalhes", "Details", new { id=item.IDEDITORA }) |
            @Html.ActionLink("Deletar", "Delete", new { id=item.IDEDITORA })
        </td>
    </tr>
}

</table>
