@model IEnumerable<Livraria.Sistema.Models.CATEGORIAS>

@{
    ViewBag.Title = "Index";
}

<br>
<h2>Categorias</h2>
<br>

<p>
    <button type="button" class="btn btn-outline-primary">
        @Html.ActionLink("Adicionar categoria", "Create")
    </button>
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.NOME)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.NOME)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.IDCATEGORIA }) |
            @Html.ActionLink("Detalhes", "Details", new { id=item.IDCATEGORIA }) |
            @Html.ActionLink("Apagar", "Delete", new { id=item.IDCATEGORIA })
        </td>
    </tr>
}

</table>
