@using System.Web.Optimization
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/Scripts/modernizr-2.8.3.js"></script>
</head>
<body>
    <nav class="navbar navbar-dark bg-dark" id="navdiferente">
        <ul class="nav justify-content-center">
            <li class="nav-link">
                @Html.ActionLink("Livros", "Index", "Livros", null, new { @class = "my-class" })
            </li>
            <li class="nav-link">
                @Html.ActionLink("Categorias", "Index", "Categorias", null, new { @class = "my-class" })
            </li>
            <li class="nav-link">
                @Html.ActionLink("Editoras", "Index", "Editoras", null, new { @class = "my-class" })
            </li>
            <li class="nav-link">
                @Html.ActionLink("Distribuidoras", "Index", "Distribuidoras", null, new { @class = "my-class" })
            </li>
            <li class="nav-link">
                @Html.ActionLink("Movimentações", "Index", "Movimentacoes", null, new { @class = "my-class" })
            </li>
            <li class="nav-link">
                @Html.ActionLink("Funcionários", "Index", "Funcionarios", null, new { @class = "my-class" })
            </li>
            <li class="nav-link" id="logout">
                @Html.ActionLink("Sair", "Logout", "Login", null, new { @class = "my-class" })
                <!--<a href="@Url.Action("Logout", "Login")">Sair</a>-->
            </li>
        </ul>
    </nav>

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - SistemaLivraria</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
</body>
</html>