@model Livraria.Sistema.Models.FUNCIONARIOS

@{
    Layout = null;
    ViewBag.Title = "Details";
}


<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title">Dados do funcionário</h4>
            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
        </div>
        <div class="modal-body">
            <p>@Html.DisplayNameFor(model => model.NOME): @Html.DisplayFor(model => model.NOME)</p>
            <p>@Html.DisplayNameFor(model => model.CELULAR): @Html.DisplayFor(model => model.CELULAR)</p>
            <p>@Html.DisplayNameFor(model => model.EMAIL): @Html.DisplayFor(model => model.EMAIL)</p>
            <p>@Html.DisplayNameFor(model => model.USERNAME): @Html.DisplayFor(model => model.USERNAME)</p>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-danger" data-dismiss="modal">Fechar</button>
        </div>
    </div><!-- /.modal-content -->
</div>