@model IEnumerable<Livraria.Sistema.Models.FUNCIONARIOS>

@{
    ViewBag.Title = "Index";
}

<br>
<h2>Funcionários</h2>
<br>

<p>
    <button type="button" class="btn btn-outline-primary">
        @Html.ActionLink("Adicionar funcionário", "Create")
    </button>
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.NOME)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CELULAR)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EMAIL)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.USERNAME)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.NOME)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CELULAR)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EMAIL)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.USERNAME)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.IDFUNCIONARIOS }) |
            @Html.ActionLink("Detalhes", "Details", new { id=item.IDFUNCIONARIOS }) |
            @Html.ActionLink("Apagar", "Delete", new { id=item.IDFUNCIONARIOS })
        </td>
    </tr>
}

</table>
