@model IEnumerable<Livraria.Sistema.Models.FUNCIONARIOS>

@{
    ViewBag.Title = "Index";
    if(Session["idUsuario"] == null)
    {
        Response.Redirect("/Login/Login");
    }
}
<script src="~/Scripts/bootstrap.min.js"></script>
<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<br>
<h2>Funcionários</h2>
<br>

<p>
    <button type="button" class="btn btn-outline-primary">
        @Html.ActionLink("Adicionar funcionário", "Create")
    </button>
</p>
<div class="divDaTabela">
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NOME)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.NOME)
                </td>
                <td>
                    <button class="btn btn-outline-primary details" data-id="@item.IDFUNCIONARIOS"><i class="glyphicon glyphicon-file"></i>Detalhes</button>
                    <button type="button" class="btn btn-outline-primary">
                        @Html.ActionLink("Apagar", "Delete", new { @id = item.IDFUNCIONARIOS })
                    </button>
                    <button type="button" class="btn btn-outline-primary">
                        @Html.ActionLink("Editar", "Edit", new { id = item.IDFUNCIONARIOS })
                    </button>
                </td>
            </tr>
        }

    </table>
</div>


<div class="modal" id="modal">

</div>

@section scripts{
    <script>
        $(function () {
            $(".details").click(function () {
                var id = $(this).attr("data-id");
                $("#modal").load("Details?id=" + id, function () {
                    $("#modal").modal();
                })
                $("#modal").load("Funcionarios/Details?id=" + id, function () {
                    $("#modal").modal();
                })
            });
        })
    </script>
}
